In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('ML_DATASET.csv')

In [3]:
dataset.head()

,Class,FA Card,Description,Major Category,IHS Categorization,My Categorization,Parent,Sub-FA Card,Bar Code,Status,...,Disposal in Period,Acquisition Cost 31/07/18,Depreciation 31/12/17,Depreciation in Period,Disposal Depreciation in Period,Depreciation 31/07/18,Book Value 31/12/17,Book Value 31/07/18,Dep. Start date,Useful life
0,TW,FA/TW023059,2HP SPLIT UNIT AC,TOWER,Air Conditioner,Air Conditioner,Parent,NaN,NaN,NF,...,0.0,"1,275,614.00","-221,285.67","-63,406.57",0.0,"-284,692.24","1,054,328.33","990,921.76",01/07/2015,14.591667
1,TW,FA/TW023390,2 HP wall unit AC,TOWER,Air Conditioner,Air Conditioner,Parent,NaN,NaN,NF,...,0.0,"8,186,644.00","-1,765,179.00","-479,833.79",0.0,"-2,245,012.79","6,421,465.00","5,941,631.21",01/07/2015,11.747222
2,TW,FA/TW023423,2 HP Split unit AC,TOWER,Air Conditioner,Air Conditioner,Parent,NaN,NaN,NF,...,0.0,"752,859.00","-128,101.00","-36,895.22",0.0,"-164,996.22","624,758.00","587,862.78",01/07/2015,14.875571
3,TW,FA/TW053808,T1524 Transportation and Installation of Cooling,TOWER,Air Conditioner,Air Conditioner,Parent,NaN,9.000119e+09,F,...,0.0,"1,791,150.00","-240,372.00","-74,164.44",0.0,"-314,536.44","1,550,778.00","1,476,613.56",01/07/2015,18.835616
4,TW,FA/TW265087,2HP WINDOW UNIT AC,TOWER,Air Conditioner,Air Conditioner,Parent,NaN,9.000119e+09,F,...,0.0,"189,682.50","-52,690.00","-36,883.00",0.0,"-89,573.00","136,992.50","100,109.50",01/03/2017,3.000000

In [4]:
dataset.columns

Index(['Class', 'FA Card', 'Description', 'Major Category',
       'IHS Categorization', 'My Categorization', 'Parent', 'Sub-FA Card',
       'Bar Code', 'Status', 'Remarks', 'Site New Code', 'Alternate Site ID',
       'Acquisition Cost 31/12/17', 'Addition in Period', 'Disposal in Period',
       'Acquisition Cost 31/07/18', 'Depreciation 31/12/17',
       'Depreciation in Period', 'Disposal Depreciation in Period',
       'Depreciation 31/07/18', 'Book Value 31/12/17', 'Book Value 31/07/18',
       'Dep. Start date', 'Useful life'],
      dtype='object')

In [5]:
dataset = dataset.drop((c for c in dataset.columns[-11:]), axis=1)

In [6]:
dataset = dataset.drop((c for c in dataset.columns[-7:-2]), axis=1)

In [7]:
dataset = dataset.drop((c for c in dataset.columns[:2]), axis=1)

In [8]:
dataset = dataset.drop((c for c in dataset.columns[1:3]), axis=1)

In [9]:
dataset.head()

,Description,My Categorization,Parent,Alternate Site ID,Acquisition Cost 31/12/17
0,2HP SPLIT UNIT AC,Air Conditioner,Parent,IHS_KEB_0795A,"1,275,614.00"
1,2 HP wall unit AC,Air Conditioner,Parent,IHS_KEB_0800A,"8,186,644.00"
2,2 HP Split unit AC,Air Conditioner,Parent,IHS_KEB_0801A,"752,859.00"
3,T1524 Transportation and Installation of Cooling,Air Conditioner,Parent,IHS_KOG_0825A,"1,791,150.00"
4,2HP WINDOW UNIT AC,Air Conditioner,Parent,IHS_KOG_0825A,"189,682.50"

In [10]:
dataset.columns

Index(['Description', 'My Categorization', 'Parent', 'Alternate Site ID',
       'Acquisition Cost 31/12/17'],
      dtype='object')

In [11]:
dataset['Parent'].unique()

array(['Parent', 'Child', nan], dtype=object)

In [12]:
dataset[['Parent']].fillna('N')

      Parent
0     Parent
1     Parent
2     Parent
3     Parent
4     Parent
5     Parent
6     Parent
7     Parent
8     Parent
9     Parent
10    Parent
11     Child
12     Child
13    Parent
14     Child
15    Parent
16    Parent
17    Parent
18    Parent
19    Parent
20    Parent
21    Parent
22    Parent
23    Parent
24    Parent
25    Parent
26    Parent
27    Parent
28    Parent
29    Parent
...      ...
1018  Parent
1019  Parent
1020       N
1021  Parent
1022       N
1023       N
1024       N
1025       N
1026  Parent
1027   Child
1028  Parent
1029  Parent
1030  Parent
1031  Parent
1032  Parent
1033  Parent
1034  Parent
1035  Parent
1036  Parent
1037  Parent
1038  Parent
1039  Parent
1040  Parent
1041  Parent
1042  Parent
1043  Parent
1044  Parent
1045   Child
1046   Child
1047   Child

[1048 rows x 1 columns]

In [17]:
dataset['Parent'] = dataset['Parent'].apply(str)

In [18]:
values = dataset.values

In [19]:
values

array([['2HP SPLIT UNIT AC', 'Air Conditioner', 'Parent',
        'IHS_KEB_0795A', '1,275,614.00'],
       ['2 HP wall unit AC', 'Air Conditioner', 'Parent',
        'IHS_KEB_0800A', '8,186,644.00'],
       ['2 HP Split unit AC', 'Air Conditioner', 'Parent',
        'IHS_KEB_0801A', '752,859.00'],
       ...,
       ['Tower Foundation Certification', 'Tower', 'Child',
        'IHS_OND_1024C', '288,750.00'],
       ['Microwave poles and brackets', 'Tower', 'Child',
        'IHS_OND_1024C', '19,721.83'],
       ['GSM poles and brackets', 'Tower', 'Child', 'IHS_OND_1024C',
        '19,524.61']], dtype=object)

In [20]:
from sklearn.preprocessing import LabelEncoder

In [28]:
encoder = LabelEncoder()
dataset[['Parent']]=encoder.fit_transform(dataset[['Parent']])

C:\Users\Micheal\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: shape mismatch: value array of shape (1048,) could not be broadcast to indexing result of shape (1,1048)

In [24]:
values

array([['2HP SPLIT UNIT AC', 'Air Conditioner', 1, 'IHS_KEB_0795A',
        '1,275,614.00'],
       ['2 HP wall unit AC', 'Air Conditioner', 1, 'IHS_KEB_0800A',
        '8,186,644.00'],
       ['2 HP Split unit AC', 'Air Conditioner', 1, 'IHS_KEB_0801A',
        '752,859.00'],
       ...,
       ['Tower Foundation Certification', 'Tower', 0, 'IHS_OND_1024C',
        '288,750.00'],
       ['Microwave poles and brackets', 'Tower', 0, 'IHS_OND_1024C',
        '19,721.83'],
       ['GSM poles and brackets', 'Tower', 0, 'IHS_OND_1024C',
        '19,524.61']], dtype=object)

In [27]:
values[:,2]

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

In [ ]:
df['new']= new

In [ ]:
del df['target']

In [ ]:
df.head()

In [ ]:
df=df.rename(columns={'new':'target'})
df['target']= df['target'].apply(int)

In [ ]:
df.head()

In [ ]:
y=df['target']
df['target'].unique()

In [ ]:
X= df.drop('target', axis =1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=000)

In [ ]:
#Feature Columns
import tensorflow as tf

In [ ]:
X.columns

In [ ]:
feat_cols = []

for col in X.columns:
    feat_cols.append(tf.feature_column.numeric_column(col))

In [ ]:
feat_cols

In [ ]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=5,num_epochs=5,shuffle=True)
classifier = tf.estimator.DNNClassifier(hidden_units = [10,20,10],n_classes=3,feature_columns=feat_cols)
classifier.train(input_fn=input_func,steps=50)
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)   
predictions = list(classifier.predict(input_fn=pred_fn))

In [ ]:
predictions

In [ ]:
final_preds = []

for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [ ]:
final_preds

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix

In [ ]:
print(confusion_matrix(y_test,final_preds))

In [ ]:
print(classification_report(y_test,final_preds))